body {
    background-color: rgb(77, 104, 110);
    width: 100%;
    font-family: Arial;
}

h1 {
    text-align: center;
    color: white;
    text-decoration: underline;
}

img {
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name {
    display: inline-block;
    width: 45%;
}

#buttons, #nameElement {
    padding-top: 15px;
    width: 50%;
}

.gameButton {
    width: 32%;
    margin-left: auto;
    margin-right: auto;
}

